# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# Server
/backend/node_modules
/backend/coverage

/server/node_modules
/server/dist
/server/coverage
/server/src/__tests__/__snapshots__
