# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# Server
/server-js/node_modules
/server-js/coverage

/server-ts/node_modules
/server-ts/dist
